<ion-header>
  <ion-toolbar>
    <ion-title>Local Json in Ionic 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let item of datax; index as i">
      <ion-col size="1">{{ i+ 1 }}</ion-col>
      <ion-col size="5"> {{ item.name }} - {{ item.translation }} </ion-col>
      <br>
      <ion-row *ngFor="let ayah of item.verses; index as j">
        <ion-col size="1">{{ j+ 1 }}</ion-col>
        <ion-col size="5"> {{ ayah.text }} <br> {{ ayah.translation }} </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
